.checkout {
  grid-column: 1 / -1;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__title {
    margin: 1.5rem 0;
    font-size: calc(1.6rem + 0.8vw);
  }

  &__product {
    background-color: white;
    display: grid;
    grid-template-columns: 0.8fr 3fr 0.7fr;
    align-items: center;
    margin: 1rem 0;
    position: relative;
    .fa-times {
      position: absolute;
      top: 0.7rem;
      right: 1rem;
      font-size: calc(1.5rem + 0.8vw);
      cursor: pointer;
      opacity: 0.7;
    }
    &--img {
      img {
        width: 100%;
      }
    }

    &--detail {
      margin-right: 1.5rem;

      &__name {
        font-size: calc(1rem + 0.5vw);
      }
      &__price {
        color: #f9971e;
        font-size: calc(0.5rem + 0.9vw);
        font-weight: bold;
        margin: 0.5vw 0;
      }
      &__old-price {
        text-decoration: line-through;
        color: #bfbfbf;
        font-size: calc(0.8rem + 0.5vw);
      }
    }
    &--amount {
      margin-right: 1.5rem;
      input {
        width: 50%;
        font-size: calc(1rem + 0.5vw);
      }
      &__total {
        font-size: calc(0.8rem + 0.5vw);
        font-weight: bold;
        margin: 0.5rem 0 0.4rem 0;
      }
      &__money {
        color: #f9971e;
        font-size: calc(0.5rem + 0.9vw);
        font-weight: bold;
      }
    }
  }

  &__pay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 2rem;
    &--total {
      display: flex;
      justify-content: space-between;
      width: fit-content;
      p {
        font-size: calc(1.5rem + 1vw);
        margin-right: calc(1.5rem + 1.2vw);
      }
      div {
        font-size: calc(1.5rem + 1vw);
        color: #f9971e;
        font-weight: bold;
      }
    }
    &--button {
      width: min-content;
      padding: 1rem 0rem;
      margin: 1.7rem 0;
      width: 28%;
      font-size: calc(1.7rem + 1vw);
      cursor: pointer;
      outline: none;
      border: none;
      background-color: color(color-green);
      color: white;
      border-radius: 3rem;
      font-weight: bold;
    }
  }
}
